<nav>
  <a routerLink="/">
    <img src="https://img.icons8.com/ios/25/000000/grid.png" class="icon"/>
  </a>
  <a routerLink="/Movies">
    <img src="https://img.icons8.com/ios/25/000000/retro-tv.png" class="icon"/>
  </a>
  <a routerLink="/Series">
    <img src="https://img.icons8.com/dotty/25/000000/cinema-.png" class="icon" />
  </a>
</nav>
<section>
  <header>
    <h1>Media Watch List</h1>
    <p class="description">Keeping track of the media I want to watch.</p>
  </header>
  <router-outlet></router-outlet>
</section>